.players-list {
    padding-inline-start: 0;
}

.players-list-header {
    border: none;

    &-btn {
        width: 100%
    }
}

.players-list-item {
    padding-left: 5px;
    padding-right: 5px;
}